  @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

 /* Codigo Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 15vh;
  text-align: center;
  border-bottom: 2px solid #777;
}
header h1 {
 
 font-size: 2.0rem;
 font-family: "Rock Salt", cursive;
 padding: 10px;
 color: #ffff;
}


body {
  background-color:#202020;
}

#conteudo {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 45vh;
  margin: auto;
 
}
 
#nome {
  width: 30vw;
  padding: 0.6rem 1rem;
    background-color: #494949;
      border: none;
      outline: none;
      color: #f3f3f3;
      border-radius: 5px;
      
}

#nome::placeholder {
  color: rgb(212, 212, 212);
}

#botao {
    width: 5vw;
  padding: 0.6rem 1rem;
    background-color: #b81b1b;
      border: none;
      color: #f3f3f3;
      cursor: pointer;
       transition: background-color 0.3s ease;
       border-radius: 10px;
}

#botao:hover {
  background-color: #770000;
}